/* 初期切版用 */
.flex{
    display: flex;
}

.bg-bk{
    background-color: rgb(40, 40, 40);
}

.bg-wt{
    background-color: rgb(210, 210, 210);
}

.flex1{
    flex: 1;
}
.flex2{
    flex: 2;
}
.flex3{
    flex: 3;
}

.colnum{
    flex-direction: column;
}

.pad-3px{
    padding: 3px;
}
.pad-5px{
    padding: 5px;
}
.pad-10px{
    padding: 10px;
}
.pad-20px{
    padding: 20px;
}
.pad-30px{
    padding: 30px;
}

.pad-left-3px{
    padding-left: 3px;
}
.pad-left-5px{
    padding-left: 5px;
}
.pad-left-10px{
    padding-left: 10px;
}
.pad-left-20px{
    padding-left: 20px;
}
.pad-left-30px{
    padding-left: 30px;
}

.pad-right-3px{
    padding-right: 3px;
}
.pad-right-5px{
    padding-right: 5px;
}
.pad-right-10px{
    padding-right: 10px;
}
.pad-right-20px{
    padding-right: 20px;
}
.pad-right-30px{
    padding-right: 30px;
}

.mag-20px{
    margin: 20px;
}

/* 置中分隔線 */
.divider{
    left: 10%;
    width: 80%;
    height: 1px;
    display: block;
    background-color: rgb(40, 40, 40, 0.5);
}
.big-divider{
    left: 1%;
    width: 96%;
    height: 1%;
    margin: 1%;
    margin-bottom: 1%;
    background-color: rgb(40, 40, 40, 0.3);
}

/* 繼承上層樣式 */
.inherit{
    all: inherit;
    /* font-size: inherit;
    color: inherit;
    background-color: inherit; */
}

/* Tocas UI Custom */
.ts-segment[class*=-indicated].is-primary {
    --ts-indicator-color: var(--ts-primary-500);
}
.is-code{
    font-size: 18px !important;
}